<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<title>Mapdao Point Edit</title>
<!-- Bootstrap -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
</head>
<body>
<div class="container-fluid">
<form class="form-horizontal" method="post">
<fieldset>
<legend>点编辑</legend>
<div class="control-group">
<label class="control-label" for="pointname">点名称</label>
<div class="controls">
<input type="text" class="input-xlarge" id="pointname" name="pointname">
</div>
</div>
<div class="control-group">
    <label class="control-label" for="exampleInputFileA">照片上传A</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  
<div class="control-group">
    <label class="control-label" for="exampleInputFileB">照片上传B</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>  
<div class="control-group">
<label class="control-label" for="introduction">点介绍</label>
<div class="controls">
<input type="text" class="input-xlarge" id="introduction" name="introduction">
</div>
</div>
<div class="control-group">
<label class="control-label" for="links">链接</label>
<div class="controls">
<input type="text" class="input-xlarge" id="links" name="links">
</div>
</div>

<div class="control-group">
<label class="control-label" for="routename">路线名称</label>
<div class="controls">
<input type="text" class="input-xlarge" id="routename" name="routename">
</div>
</div>


<div class="control-group">
<label class="control-label" for="routenumber">路线序号</label>
<div class="controls">
<input type="text" class="input-xlarge" id="routenumber" name="routenumber">
</div>
</div>


<div class="form-actions">
<button type="submit" class="btn btn-primary">确定</button>
<button type="submit" class="btn btn_primary">取消</button>
</div>
</fieldset>
</form>
</div>
</body>
</html>