<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<title>Upload Success</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
</head>
<body>

<div class="container-fluid">
<form class="form-horizontal" method="post">
<fieldset>
<legend>重置密码</legend>

<div class="control-group">
<label class="control-label" for="register_email">注册邮箱</label>
<div class="controls">
<input type="text" class="input-xlarge" id="register_email" name="register_email">
</div>
</div>
<div class="form-actions">
<button type="submit" class="btn btn-primary">确定</button>
<button type="reset" class="btn btn-default">取消</button>
</fieldset>
</form>
</div>
<div class="control-group"><%= message %>
</div>
</body>
</html>