<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<title>Upload Success</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
</head>
<body>
<button type="submit" class="btn btn-primary">继续添加</button>
</body>
</html>